html, body {
  background-color: #071e3d;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3.2em;
  text-align: center;
  color: #ffffff;
}

.container-fluid .row .card {
  background-color: #051229 !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
  color: #e0e0e0;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.section-title {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  font-size: 2em;
}

.navbar.navbar-dark {
  background-color: #051229 !important;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #ffffff !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-light .navbar-toggler {
  border-color: rgba(255,255,255,.5);
}

.bg-custom {
  background-color: #071e3d;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.pagination .page-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}

h3 strong {
  color: #ffffff;
}

.card-title {
  color: #ffffff !important;
  font-weight: bold;
}

.card-text {
  color: #cccccc !important;
}

.card-text strong {
  color: #ffffff !important;
}

.btn-primary {
  background-color: #1e90ff;
  border-color: #1e90ff;
}

.btn-primary:hover {
  background-color: #187bcd;
  border-color: #187bcd;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #bd2130;
  border-color: #bd2130;
}

